<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Login</title>
</head>
<body>

    <div class="container">
        <h2>Admin Login</h2>
        <form>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter your username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password">
            <div class="check">
                <input type="checkbox" style="transform: scale(1.05)" name="remember">
                
                <!-- Checking 'Remember' will save a cookie to the browser -->
                <label for="remember">Remember</label>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>